language: php

dist: trusty

php:
  - 7.1
  - 7.2
  - 7.3
  - nightly
  
env:
# Laravel 5.3.*
  - ILLUMINATE_VERSION=5.3.* PHPUNIT_VERSION=~5.0

before_script:
  - echo "yes" | pecl -d preferred_state=beta install zmq
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - composer self-update
  - composer require "illuminate/support:${ILLUMINATE_VERSION}" --no-update
  - if [[ ! -z "$PHPUNIT_VERSION" ]]; then composer require "phpunit/phpunit:${PHPUNIT_VERSION}" --no-update; fi
  - composer install --prefer-source --no-interaction

script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit
  - if [[ "$TRAVIS_PULL_REQUEST" == "false" && $TRAVIS_PHP_VERSION != "nightly" && $TRAVIS_PHP_VERSION != "7.3" ]]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi

matrix:
  include:
# Laravel 5.4.*
    - php: 7.1
      env: ILLUMINATE_VERSION=5.4.* PHPUNIT_VERSION=~5.7
    - php: 7.2
      env: ILLUMINATE_VERSION=5.4.* PHPUNIT_VERSION=~5.7
    - php: 7.3
      env: ILLUMINATE_VERSION=5.4.* PHPUNIT_VERSION=~5.7
    - php: nightly
      env: ILLUMINATE_VERSION=5.4.* PHPUNIT_VERSION=~5.7
# Laravel 5.5.*
    - php: 7.1
      env: ILLUMINATE_VERSION=5.5.*
    - php: 7.2
      env: ILLUMINATE_VERSION=5.5.*
    - php: 7.3
      env: ILLUMINATE_VERSION=5.5.*
    - php: nightly
      env: ILLUMINATE_VERSION=5.5.*
# Laravel 5.6.*
    - php: 7.1
      env: ILLUMINATE_VERSION=5.6.*
    - php: 7.2
      env: ILLUMINATE_VERSION=5.6.*
    - php: 7.3
      env: ILLUMINATE_VERSION=5.6.*
    - php: nightly
      env: ILLUMINATE_VERSION=5.6.*
# Laravel 5.7.*
    - php: 7.1
      env: ILLUMINATE_VERSION=5.7.*
    - php: 7.2
      env: ILLUMINATE_VERSION=5.7.*
    - php: 7.3
      env: ILLUMINATE_VERSION=5.7.*
    - php: nightly
      env: ILLUMINATE_VERSION=5.7.*
  allow_failures:
    - php: 7.3
    - php: nightly
  fast_finish: true

addons:
  apt:
    packages:
      - libzmq-dev
